.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.imageHolder{
  position: absolute;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

#gameSection{
  height: 50vh;
  width: 100vw;
  background-color: lightblue;
}

#hill, #swan, #background{
  position: relative;
}

#hill{
  top: calc(100% - 360px);
  left: calc(50% + 50px);
}

#background{
  top: -50vh;
  left: 0;
}

#swan{
  top: calc(100% - 100px);
  left: 50%;
  width: 100px;
  height: 100px;
}

#questionSection{
  height: 50vh;
  padding: 20px;
}

#questionText{
  float: right;
  width: 40%;
  border-style: solid;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
  margin-top: 5px;
}

button{
  display: inline-block;
  margin-bottom: 0;
  padding: 0.6em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #FFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 14px;
  line-height: 1.42857;

  background-color: #002147;
  width: 100%;
  margin-bottom: 20px;
}

.clouds{
  width: 100vw;
  min-height: 50vh;
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sky{
  width: 300vw !important;
}

#defaultText{
  float: left;
  font-family: sans-serif;
  text-align: left;
  font-size: 14px;
  margin: 0;
  width: 50%;
  margin-bottom: 20px;
}

#disclaimer{
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

#endScreen{
  position: absolute;
  background-color: white;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

#resultText{
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

#resultBody{
  width: 100%;
  text-align: center;
  background-color: #047E8B;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  font-family: sans-serif;
  border-radius: 5px;
}

#submit{
  position: absolute;
  width: 40%;
  overflow: wrap;
  min-height: 40px;
  right: 20px;
  background-color: #002147;
  bottom: 20px;
}

#retry{
  position: absolute;
  width: 40%;
  overflow: wrap;
  left: 20px;
  min-height: 40px;
  background-color: #047E8B;
  bottom: 20px;
}

.disabled{
  background-color: #747678 !important;
}

body{
  margin: 0;
  overflow: hidden;
}
